/**
 * Please note that these styles will be loaded before editor styles.
 * If a theme's editor style specifies the same classname, these may be overwritten. 
 * style.css for Custom Haurand Block Styles
 */



 /**
 * 1. Register Custom Block Styles
 */
 
/* Blauer Absatz */
.is-style-blue-paragraph {
	background-color: #0087be;
	color: #FFF;
	padding: 16px;
}

/* Absatz mit voller Breite */
.is-style-full.width.Paragraph {
    margin-left: 10px;
    margin-right: 10px;
}

/* fancy button*/
.wp-block-button.is-style-fancy-button .wp-block-button__link {
    color: #fff;
    background-color: #ff7052;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ff7052;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.16);
}
.wp-block-button.is-style-fancy-button .wp-block-button__link a:hover {
	background-color: orange;
}

/* 2-spaltige Liste */
.is-style-2col-list {
    /* background: #f8f8f8; */
    padding: 20px 0 20px 40px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -moz-column-gap: 40px;
    margin:0;
}


/* farbige Überschrift */
.is-style-gradient-headline {
    background: -webkit-linear-gradient(left,#ff6969 0%,#5a61e8 100%);
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    border-bottom: 3px solid #ccc;
}


/**
 * 2. Custom Block Patterns
 */

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* 1. Block */
/* Block pattern: Vorlage mit 3 Kacheln, bestehend aus jeweils einer Überschrift, einem Bild mit kurzer Beschreibung*/
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Randdarstellung für Kacheln 
.kachel_spalte, 
div.wp-block-column */
div.kacheln {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
	/* box-shadow: 7px 5px 30px rgba(72,73,121,.15) */
	box-shadow: 5px 5px 10px #888888;
    padding: 15px;

	/* kommt beim Vortrag dazu: */ 
	opacity: 0.7;*/
}

/* Beim Überfahren mehr Schatten 
.kachel_spalte:hover,
div.wp-block-column:hover */
div.kacheln:hover{
    box-shadow: 10px 10px 15px #888888;
	/* box-shadow: 7px 5px 30px rgba(72,73,121,.15) */
	
	/* kommt beim Vortrag dazu: */ 
  	-webkit-transform: scale(1.1);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
	  opacity: 1.0;
		/* VERZÖGERUNG  */
	 -webkit-transition: all 0.7s linear;
	 -moz-transition: all 0.7s linear;
	 -ms-transition: all 0.7s linear;
	 -o-transition: all 0.7s linear;
	 transition: all 0.7s linear;
     /* Die Transition beginnt langsam, wird schnell und endet wieder langsam.*/
     transition-timing-function: ease-in-out;
	 /* Schatten bei allen Elementen 
	 -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
   filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));*/
}

/* Beschriftung der Kachel */
figcaption {
    padding: 10px;
}



/* ---------------------------------------------------------------------------------------------------------------------------- */
/* 2. Block */
/* 3 Spalten mit runden Bildern */
/* Block pattern: Vorlage mit 3 Kacheln, bestehend aus jeweils einer Überschrift, einem Bild mit kurzer Beschreibung*/
/* ---------------------------------------------------------------------------------------------------------------------------- */

/* für Block Pattern 3 Spalten */ 
/* Randdarstellung für Kacheln */
.kachel_spalte {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
	  box-shadow: 5px 5px 10px #888888;
		padding-left: 15px;
    padding-right: 15px;
}

/* Beim Überfahren mehr Schatten */
.kachel_spalte:hover {
    box-shadow: 10px 10px 15px #888888;
}

/* Bilder mit Schatten */
.wp-block-image.is-style-rounded {
	/* SCALE */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/* VERZÖGERUNG */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
    
.wp-block-image.is-style-rounded:hover {
 	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	/* mit Schatten: */
	-webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* 3. Block */
/* 2 Spalten mit Bild oben Text darunter, blauer Hintergrund ohne Rahmen */ 
/* ---------------------------------------------------------------------------------------------------------------------------- */

/* Spaltenblock */
p.blue-background,
div.blue-background {
    background-color: #22405a;
    color: white;
	/* box-shadow: 5px 5px 10px #888888; */
}

/* Beim Überfahren mehr Schatten 
 */
div.blue-background:hover{
    box-shadow: 10px 10px 15px #888888;
		/* kommt beim Vortrag dazu: */
  	-webkit-transform: scale(1.1);
		-moz-transform: scale(1.01);
		-ms-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	  opacity: 1.0;
		/* VERZÖGERUNG */
	 -webkit-transition: all 0.7s linear;
	 -moz-transition: all 0.7s linear;
	 -ms-transition: all 0.7s linear;
	 -o-transition: all 0.7s linear;
	 transition: all 0.7s linear;
	 /* Schatten bei allen Elementen 
	 -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
   filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));*/
}

/* damit die Spalten nicht direkt zusammenhängen */
@media (max-width: 599px){
	.wp-block-column {
			/* statt 0px */
			margin-top: 20px;    
	}
}

/* Foto bei den dunkelblauen Spalten animieren (Hover) */
figure.zoomeffekt {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure.zoomeffekt:hover+span {
	bottom: -36px;
	opacity: 0.1;
}

/* hier muss ggfs. die Klasse wp-image-324 jeweils für das Bild angepasst werden */
/* durch falsche Kennung (324-1) zunächst allgemein ausgeschaltet */
img.wp-image-324,
img.wp-image-325 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img.wp-image-324:hover,
img.wp-image-325:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	transition: all 1.5s linear;
}


/* Absatz für Spaltentext */
p.blue-background {
   padding: 20px 38px;
}

/* kein Rand bei Bildern animieren */
figure.wp-block-image.size-large {
    margin-top: 0px!important;
}











